{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react",
    "^react-router",
    "^framer-motion",
    "^clsx",
    "^tailwind-merge",
    "<THIRD_PARTY_MODULES>",
    "^@/models/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^./hooks/(.*)$",
    "^./(.*)$",
    "^./assets/(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
