@import url("https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

.index__section::after {
  content: " ";
  border-bottom: 4px solid #464f59;
  display: block;
  margin: 25px 0 5px 0;
  width: 50px;
}

.project__description > span {
  border: 1.5px solid #bfd8ed;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 10px 0;
  font-size: 0.8rem;
}
